rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && 
        (request.auth.uid == resource.data.userId);
    }
    
    match /products/{productId} {
      allow read: if true;
      allow update: if request.auth != null && 
        // Sadece stok alanının güncellenmesine izin ver
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['stock']) &&
        // Stok negatif olamaz
        request.resource.data.stock >= 0;
    }
  }
} 